/*Main styles and default*/
:root {
  --bs-body-color: white;
  --bs-heading-color: white;
  --main-color: rgb(164, 135, 99);
  --main-color-hover: rgb(199, 155, 102);
  --lora: "Lora", sans-serif;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.otf");
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: 'Castellar';
  src: url("../fonts/Castellar Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muller", sans-serif;
  background-image: url("../image/background.png");
  font-size: 1rem;
}

p {
  margin-bottom: 0;
}

/*_____Button and basic styles___________________________________________________________________*/
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 50px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.burger-menu span {
  background-color: var(--main-color);
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2),.burger-menu span:nth-child(3) {
  top: 16px;
}

.burger-menu span:nth-child(4) {
  top: 32px;
}

.burger-menu.open span:nth-child(1) {
  top: 16px;
  width: 0;
  left: 50%;
}

.burger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger-menu.open span:nth-child(4) {
  top: 16px;
  width: 0;
  left: 50%;
}

.navigation {
  justify-content: center;
}

.btn {
  border: none;
  width: 232px;
  height: 60px;
  line-height: 1;
  box-shadow: 0 0 19px 6px rgba(152, 108, 52, 0.2);
  font-size: 1.125rem;
  font-weight: bold;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--main-color-hover), .5);
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-bg: var(--main-color-hover);
  --bs-btn-hover-border-color: var(--main-color-hover);
  --bs-btn-active-bg: var(--main-color-hover);
  --bs-btn-active-border-color: var(--main-color-hover);
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
  --bs-btn-focus-shadow-rgb: 199, 155, 102;
}

.btn-outline-warning {
  --bs-btn-color: #fff;
  border: 1px solid var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
}

/*__________________________Link and phone in header__________________________________*/
.header__link {
  color: white;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all 0.4s ease;
}

.header__link:hover {
  border-bottom-color: var(--main-color);
}

.phone {
  color: white;
  transition: all 0.2s ease;
}

.phone:hover {
  color: var(--main-color-hover);
}

/*___Fon elements___________________________________________________________________________--*/
.fon-text-1, .fon-text-2 {
  font-size: 11.25rem;
  font-family: "Castellar", sans-serif;
  color: rgba(174, 137, 89, 0.051);
  line-height: 1;
  z-index: -1;
  position: absolute;
}

.fon-text-1 {
  top: 4%;
  text-align: left;
}

.fon-text-2 {
  line-height: 0.7;
  bottom: 4%;
}

/*______Titles and descriptions of preview sections_________________________*/
.preview {
  position: relative;
  align-items: center;
  display: flex;
}

.preview__title {
  font-size: 2.5rem;
  font-family: var(--lora);
}

.preview__description {
  font-size: 1.375rem;
  font-family: var(--lora);
}


.preview__button, .popup__button {
  padding: 23px 33px;
  text-decoration: none;
}

/*____________________Advantages block___________________________________*/
.advantages {
  background: #131318;
  height: 180px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.advantages__text {
  margin-left: 30px;
}

.advantages__item:hover .advantages__image {
  transform: scale(1.2);
  transition: all 0.4s ease;
}

/*__________________About us, prices, information about the masters______________*/
.about-as, .price, .masters-info {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-as, .masters-info {
  border-right: 1px solid var(--main-color);
}

.about-as {
  margin-bottom: 149px;
}

.about-as__title, .masters-info__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 2rem;
  font-family: "Lora";
  line-height: 1.156;
}

.about-as__content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.about-as__image {
  transition: all 0.4s ease;
  margin-bottom: 72px;
  width: 100%;
}

.about-as__image:hover {
  transform: scale(1.1);
}

.about-as__text {
  max-width: 472px;
  margin-right: 27px;
}

.about-as__info {
  line-height: 1.313;
  margin-bottom: 35px;
}

.about-as__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  gap: 25px;
}

.about-as__item {
  display: flex;
  align-items: center;
}

.about-as__item div {
  margin-right: 20px;
  text-align: center;
  width: 31px;
  height: 26px;
  align-content: center;
}

.about-as__item span {
  font-size: 1.125rem;
  line-height: 1.111;
}

.about-as__item:nth-child(1) span {
  align-self: end;
}

.about-as__background {
  position: absolute;
  bottom: -49px;
  right: 188px;
}

/*__________________Parallax effect_________________________*/
.parallax, .parallax2 {
  min-height: 181px;
}

/*___________________Follow-as and first-visit containers_______________*/
.follow-as__container,
.first-visit__container {
  width: 916px;
  position: relative;
  left: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-as__title,
.first-visit__title {
  max-width: 423px;
  font-size: 1.75rem;
  font-family: var(--lora);
  line-height: 1.2;
  margin-bottom: 0;
}

.follow-as__span {
  font-weight: bold;
}

.follow-as__button {
  padding: 23px 60px 22px;
}

/*____________________Price_______________________________*/
.price {
  border-left: 1px solid var(--main-color);
}

.price__title {
  font-size: 2rem;
  font-family: var(--lora);
  margin-bottom: 58px;
  text-align: center;
}

.price__block {
  margin-left: 83px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price__item {
  flex: 1;
  max-width: 405px;
  margin-bottom: -40px;
}

.price__item h3 {
  font-size: 1.5625rem;
  font-family: var(--lora);
  color: var(--main-color);
  margin-bottom: 40px;
}

.price__service-name {
  padding-bottom: 40px;
}

.price__name-desc {
  max-width: 235px;
}

.additionally1 {
  max-width: 195px;
}

.additionally2 {
  max-width: 213px;
}

.price__name,
.price__the-service {
  font-size: 1.125rem;
  line-height: 1;
}

.price__other:nth-child(2) {
  margin-top: 19px;
}

.price__the-service {
  width: 91px;
}

.price__description {
  font-size: 14px;
  color: rgb(89, 85, 80);
  line-height: 1.429;
  padding-top: 10px;
}

.price__background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/*__________________________________________________________________________________________________________________*/
.first-visit__span {
  color: var(--main-color);
  font-weight: bold;
}

/*__________________________________________________________________________________________________________________*/
.masters-info__description {
  margin-bottom: 33px;
  max-width: 809px;
}

.splide__block {
  max-width: 1004px;
  width: 100%;
}

#main-slide {
  margin: 0 auto;
}

.barber {
  width: 300px;
  height: 500px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  align-content: center;
}

.barber__info {
  position: relative;
  transition: all 0.6s ease;
}

.barber figure {
  width: 292px;
  height: 404px;
}

.barber.is-active {
  opacity: 1;
}

.barber.is-active .barber__info {
  transform: scale(1.25);
  z-index: 1;
}

.barber.is-active .barber__name,
.barber.is-active .barber__button {
  transform: scale(0.8);
}

.barber.is-active .barber__button {
  background: var(--main-color);
  border: none;
  pointer-events: all;
  opacity: 1;
}

.barber.is-active .barber__button:hover {
  background: var(--main-color-hover);
}

.barber.is-next, .barber.is-prev {
  opacity: 1;
}

.barber.is-next {
  margin-left: -20px;
  display: block;
}

.barber.is-prev {
  margin-right: -20px;
  display: block;
}

.barber__list {
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.barber img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.barber.is-active img {
  filter: none;
}

.barber__description {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0 20px;
}

.barber__name {
  font-size: 1.25rem;
  font-family: "Lora";
  margin-bottom: 21px;
}

.barber__button {
  font-weight: bold;
  border-style: solid;
  width: 163px;
  height: 38px;
  pointer-events: none;
  opacity: var(--bs-btn-disabled-opacity);
}

.thumbnail-slider {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  width: 460px;
}

.thumbnail__list {
  align-items: center;
}

.splide__arrow svg {
  display: none;
}

.splide__arrow--prev {
  background: url("../image/left-arrow.svg") no-repeat;
  left: 0;
}

.splide__arrow--next {
  background: url("../image/right-arrow.svg");
  right: 0;
}

.splide__track--nav > .splide__list > .thumbnail {
  width: 25px;
  height: 25px;
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.splide__track--nav > .splide__list > .thumbnail.is-active {
  width: 30px;
  height: 30px;
  border: 1px solid var(--main-color);
}

.thumbnail.is-active div {
  background: var(--main-color);
  width: 16px;
  height: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*_______________________Styles for the form and the .inputs-block section.__________*/
.contact-info, .choose-options, .choose-date {
  display: flex;
  flex-direction: column;
}

.inputs-block {
  padding: 60px;
  justify-items: center;
  display: none;
  background: url("../image/bg-follow-full.png") no-repeat center;
  background-size: cover;
  height: 500px;
  transition: height 0.4s ease;
  position: relative;
}

.inputs-block__title {
  font-size: 1.5625rem;
  font-family: "Lora";
  line-height: 1.2;
  max-width: 297px;
}

.inputs-block__form {
  display: flex;
  margin: 40px 0;
  gap: 67px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-button:hover svg path {
  stroke: var(--main-color-hover);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.splide__block label {
  padding: 20px 0;
}

.inputs-block__input,
.select2-container--default .select2-selection--single {
  border: 1px solid var(--main-color);
  background: transparent;
  outline: none;
  width: 225px;
  height: 45px;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  align-content: center;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.select2-selection__rendered {
  padding: 0;
}

.select-master__label {
  position: relative;
}

.select2-container--open .select2-dropdown--below,
.dropdown-menu,
.select2-dropdown--above {
  background-color: #f9f5f0;
  color: #4F4D4DFF;
  margin-top: 7px;
}

.selection {
  width: 225px;
  height: 45px;
  display: flex;
  position: relative;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: rgb(199 155 102 / 60%);
  color: #4f4d4d;
}

.inputs-block__input::placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 250px;
}

.select2-results__option {
  padding: 10px;
  font-size: 1.1rem;
}

.arrow-down {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  content: "";
  background: url("../image/right-arrow.svg") center;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  pointer-events: none;
  width: 20px;
  height: 20px;
  background-size: cover;
  transition: all 0.3s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.datepicker-dropdown:before,
.datepicker-dropdown:after {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: translateY(-50%) rotate(-90deg);
}


.datepicker table tr td.new, .datepicker table tr td.old {
  color: rgba(0, 0, 0, 0.4);
}

.datepicker table tr td.day:hover, .datepicker table tr td.focused,
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.today {
  background: rgb(199 155 102 / 60%);
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:hover {
  background-color: var(--main-color) !important;
}

.form-control:focus,
.inputs-block__input:focus,
.select2-selection--single:focus {
  background-color: transparent;
  border-color: var(--main-color);
  box-shadow: 0 0 0 .25rem rgba(164, 135, 99, .25);
}

.error .inputs-block__input,
.error .select2-container--default .select2-selection--single {
  border-color: #960018;
}

.service__error {
  display: none;
  font-size: 15px;
  color: #960018;
  font-weight: bold;
  position: absolute;
  top: 75%;
  left: 7%;
}

.error .service__error {
  display: block;
}

.thanks-block__description {
  font-size: 18px;
  line-height: 1.389;
  max-width: 378px;
  margin-top: 79px;
  display: none;
}

/*_______________Loader___________________________________________________________________________________*/
.loader-background {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--main-color);
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*______________________________________________________________________________________________________________*/
.footer {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  background: #131318;
  line-height: 1;
}

.footer__info-and-map {
  display: flex;
  justify-content: right;
  margin-bottom: 100px;
}

.footer__info-and-logo {
  margin-right: 47px;
  display: flex;
  flex-direction: column;
  max-width: 199px;
  text-align: center;
}

.footer__info {
  margin-top: 69px;
  margin-bottom: 60px;
  justify-items: center;
  line-height: 1.2;
}

.footer__work-time {
  max-width: 147px;
}

.footer__address {
  margin: 40px 0;
}

.social-media__text, .contact__email {
  margin-bottom: 20px;
}

.social-icon__inst {
  margin-right: 25px;
  margin-left: 25px;
}

.contact__email a, .contact__phone a, .social-media__icons a {
  text-decoration: none;
  color: unset;
}

.social-media__icons {
  align-items: center;
  align-content: center;
}

.social-media__icons a:hover svg {
  opacity: 0.8;
  transition: all 0.4s ease;
  scale: 0.9;
}

.contact__email a:hover,
.contact__phone a:hover {
  color: var(--main-color);
}

.social-media__icons a:hover {
  fill: var(--main-color-hover);
}

.footer__map {
  width: 862px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.footer__rights {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(80, 79, 79);
}

/*__________Popup___________________________________________________*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup__content {
  padding: 40px;
  border: 1px solid var(--main-color);
  max-width: 500px;
  text-align: center;
  position: relative;
  background: #1a1a1f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.popup__button {
  margin-top: 20px;
}


